<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/head-chung.css" rel="stylesheet">

</head>
<body>
<% include common/header %>
 <div class="banner-about">
     <h1 class="text-banner-common text-center text-about">ABOUT US</h1>
 </div>

<div class="content-about">
    <div class="container">
        <div class="view-content pt-3 pb-3 mt-3 mb-3">
            <p class="text-justify m-5">RYAN Sports Club, an effort has been made to provide a world class facilities
                and
                infrastructure for the promotion of sports and health. During the past time, RYAN
                sports club has emerged as one of the best facilities in the country in the area of
                sports and health and also it is making strides to acquire a formidable presence in
                the international. The club provides the facilities like “Indoor Sports”, Outdoor
                Sports” and “Recreation”.</p>
            <div class="text-center">
                <p><strong>Please contact us for any information you need:</strong></p>
                <p>Hotline: +1800 6868</p>
                <p>Email:eveplus@gmail.com</p>
                <p><a href="" target="_top">Send Mail here</a></p>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-4 text-center text-white content-regular booking">
            <div>
                <div class="mb-3">
                    <img src="thumbnail/icon1.png" alt="">
                </div>
                <div class="pl-5 pr-5 ml-3 mr-3">
                    <h3 style="font-weight: bold; font-size: 17px;">EASY BOOKING</h3>
                    <p>Booking your training schedule becomes easier than ever before with your smartphone
                        only</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center text-white content-regular various">
            <div>
                <div class="mb-3">
                    <img src="thumbnail/icon2.png" alt="">
                </div>
                <div class="pl-5 pr-5 ml-3 mr-3">
                    <h3 style="font-weight: bold; font-size: 17px;">VARIOUS ACTIVITIES</h3>
                    <p>More than <span style="font-weight: bold; color: #83358b;">30</span> amazing fitness
                        categories are waiting for you to explore</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 text-center text-white content-regular scheduling">
            <div>
                <div class="mb-3">
                    <img src="thumbnail/icon3.png" alt="">
                </div>
                <div class="pl-5 pr-5 ml-3 mr-3">
                    <h3 style="font-weight: bold; font-size: 17px;">ACTIVE SCHEDULING</h3>
                    <p>With more than <span style="font-weight: bold; color: #39b54a;">5000</span> classes, you
                        can you can freely choose a schedule that suit yourself.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="text-main-icon text-main">Partners</h2>
                <p>Who we love working with,
                    and what makes us great.</p>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3"><img class="style-100" src="thumbnail/hang1.png"></div>
                    <div class="col-lg-3"><img class="style-100" src="thumbnail/hang2.png"></div>
                    <div class="col-lg-3"><img class="style-100" src="thumbnail/hang3.png"></div>
                    <div class="col-lg-3"><img class="style-100" src="thumbnail/hang4.png"></div>


                </div>
            </div>
        </div>
    </div>
</div>
<% include common/footer %>
<script src="JS/scroll-top.js"></script>
</body>
</html>