<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/head-chung.css" rel="stylesheet">
    <link href="css/Studios.css" rel="stylesheet">
    <link href="css/img-traning-class.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<div class="banner-blog">
    <h1 class=" text-center text-blog text-banner-common">BLOGS</h1>
</div>
<div class="panel-group mt-5" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading container">
            <h4 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                href="#collapseOne">
                <a>
                    BREAKFAST
                </a><i class="fa fa-chevron-down" aria-hidden="true"></i>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="container mt-5">
                    <div class="mt-5">
                        <h2 class="text-main-blog">BREAKFAST: SUNDAE FOR SUNDAY?</h2>
                        <p>Be part of the awesome community, with the help of our professional trainers, you are one
                            step closer to
                            success</p>
                    </div>
                    <div class="blogs-day p-3">
            <span class="calander"><img style="width: 1.6%"
                                        src="thumbnail/icon-canlader.png">
            <span class="ml-3 text-today">21 May </span>
                </span>
                        <span class="Folder"><img class="ml-3 text-today" style="width: 1.6%"
                                                  src="thumbnail/icon-folder.png">
                <span class="ml-3"><span class="text-danger">BREAKFAST</span>,<span class="text-danger">BREAKFAST</span></span>
            </span>

                    </div>
                    <div class="row">
                        <div class="row row-5-7 mt-1 mb-3 ">
                            <div class="col-lg-5">
                                <img style="height: auto ; width: 100%"
                                     src="thumbnail/BREAKFAST-blogs-1.jpg">
                            </div>
                            <div class="col-lg-7">
                                <span class="text-center text-main-icon">FOOD</span>
                                <p>From they fine john he give of rich he. They age and draw mrs like. Improving end
                                    distrusts may
                                    instantly was household applauded incommode. Why kept very ever home mrs. Considered
                                    sympathize
                                    ten uncommonly occasional assistance sufficient not. Letter of on become he tended
                                    active enable
                                    to. Vicinity relation sensible sociable surprise screened no up as.

                                    Civility vicinity graceful is it at. Improve up at to on mention perhaps raising.
                                    Way building
                                    not get formerly her peculiar. Up uncommonly prosperous sentiments simplicity
                                    acceptance to so.
                                    Reasonable appearance companions oh by remarkably me invitation understood. Pursuit
                                    elderly ask
                                    perhaps all.
                                    From they fine john he give of rich he. They age and draw mrs like. Improving end
                                    distrusts may
                                    instantly was household applauded incommode. Why kept very ever home mrs. Considered
                                    sympathize
                                    ten uncommonly occasional assistance sufficient not. Letter of on become he tended
                                    active enable
                                    to. Vicinity relation sensible sociable surprise screened no up as.
                            </div>
                        </div>
                        <div class="row row-7-5 mt-1 mb-3">
                            <div class="col-lg-7">
                                <span class="text-center text-main-icon">WALKING</span>
                                <p>Use mile her whom they its. Kept hold an want as he bred of. Was dashwood landlord
                                    cheerful
                                    husbands two.

                                    Literature admiration frequently indulgence announcing are who you her. Was least
                                    quick after
                                    six. So it yourself repeated together cheerful. Neither it cordial so painful
                                    picture studied
                                    if. Sex him position doubtful resolved boy expenses. Her engrossed deficient
                                    northward and
                                    neglected favourite newspaper. But use peculiar produced concerns ten.

                                    A year ago I had a back injury and followed a good nutrition program to help speed
                                    up my
                                    recovery. I focused on exercise and staying healthy in order to get back out on the
                                    ice.

                                    Carried nothing on am warrant towards. Polite in of in oh needed itself silent
                                    course.
                                    Assistance travelling so especially do prosperous appearance mr no celebrated.
                                    Wanted easily in
                                    my called formed suffer. Songs hoped sense as taken ye mirth at. Believe fat how six
                                    drawing
                                    pursuit minutes far. Same do seen head am part it dear open to. Whatever may
                                    scarcely judgment
                                    had.

                                    Literature admiration frequently indulgence announcing are who you her. Was least
                                    quick after
                                    six. So it yourself repeated together cheerful. Neither it cordial so painful
                                    picture studied
                                    if. Sex him position doubtful resolved boy expenses. Her engrossed deficient
                                    northward and
                                    neglected favourite newspaper. But use peculiar produced concerns ten.</p>
                            </div>
                            <div class="col-lg-5">
                                <img style="height: auto ; width: 100%"
                                     src="thumbnail/BREAKFAST-blogs-2.jpg">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading container">
            <h4 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                href="#collapseTwo">
                <a>
                    BETTLEBELL
                </a><i class="fa fa-chevron-down" aria-hidden="true"></i>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="container mt-5">
                    <div class="mt-5">
                        <h2 class="text-main-blog">BETTLEBELL: Get The Guns With The Best Kettlebell Workout For Arms
                            ?</h2>
                        <p>by admin | Mar 10, 2019</p>
                    </div>
                    <div class="blogs-day p-3">
            <span class="calander"><img style="width: 1.6%"
                                        src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.15752-9/54434306_1471078356356325_5747840039430127616_n.png?_nc_cat=103&_nc_oc=AQlbCiMRAn9vGNddduyWx3LWLeRlgc5_-YuyfwFHwecRnGit7Vp7zQxZ8ieHaXDBMYU&_nc_ht=scontent.fhan2-1.fna&oh=e8355f8a910ab9018108c92983b6a17f&oe=5D505F71">
            <span class="ml-3 text-today">Mar 10, 2019 </span>
                </span>
                        <span class="Folder"><img class="ml-3 text-today" style="width: 1.6%"
                                                  src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/54516585_603255546812826_1757987950282407936_n.png?_nc_cat=104&_nc_oc=AQkFvWyFQjoxJJKL3vKd5lHO8aWRGOig8O0mx_3eWnluEsvViJw9dYDG2MiOrPzeIG0&_nc_ht=scontent.fhan2-4.fna&oh=6d0aadfd68072849668cc4a762e32e9a&oe=5D162276">
                <span class="ml-3"><span class="text-danger">BETTLEBELL</span>,<span class="text-danger">kettlebell workouts</span></span>
            </span>

                    </div>
                    <div class="row">
                        <div class="row row-5-7 mt-1 mb-3 ">
                            <div class="col-lg-5">
                                <img class="mb-3" style="height: auto ; width: 100%"
                                     src="thumbnail/Kettlebell-Skull-Crasher.jpg">
                                <img style="height: auto ; width: 100%" src="thumbnail/Kettlebell-Skull-Crasher-2.jpg">
                            </div>
                            <div class="col-lg-7">
                                <span class="text-center text-main-icon">Best Kettle Workouts For Triceps</span>
                                <hr>
                                <p class="mt-3">From they fine john he give of rich he. They age and draw mrs like.
                                    Improving end
                                    distrusts may instantly was household applauded incommode. Why kept very ever home
                                    mrs.
                                    Considered sympathize ten uncommonly occasional assistance sufficient not. Letter of
                                    on become
                                    he tended active enable to. Vicinity relation sensible sociable surprise screened no
                                    up as.

                                    Civility vicinity graceful is it at. Improve up at to on mention perhaps raising.
                                    Way building
                                    not get formerly her peculiar. Up uncommonly prosperous sentiments simplicity
                                    acceptance to so.
                                    Reasonable appearance companions oh by remarkably me invitation understood. Pursuit
                                    elderly ask
                                    perhaps all.
                                    From they fine john he give of rich he. They age and draw mrs like. Improving end
                                    distrusts may
                                    instantly was household applauded incommode. Why kept very ever home mrs. Considered
                                    sympathize
                                    ten uncommonly occasional assistance sufficient not. Letter of on become he tended
                                    active enable
                                    to. Vicinity relation sensible sociable surprise screened no up as.

                                    This exercise is used by many bodybuilders because it is believed that the
                                    decline-angled skull crusher is more effective than the flat position. This exercise
                                    targets all three heads of the triceps, thus making them more effective for muscle
                                    building.
                            </div>
                        </div>
                        <div class="row row-7-5 mt-1 mb-3">
                            <div class="col-lg-7">
                                <span class="text-center text-main-icon">Best Kettle Workouts For Biceps</span>
                                <hr>
                                <p>Naturally, when you’re performing a bicep curl with any kind of weight, its going to
                                    build muscle mass. Standing kettlebell curls are more effective at this because
                                    there is constant tension when you’re performing the exercise.

                                    To do this exercise, you will want to have the handles of your kettlebells in the
                                    upper palm instead of the lower palms. You’ll use your fingers to lock the handles
                                    into place thus preventing the kettlebell from rotating or slipping during the
                                    workout.

                                    You will then want to do use proper curling techniques like you would with a
                                    dumbbell or a free weight. Make sure that you keep your arms from fully
                                    straightening during the last part of the movement because it’ll cause the handle to
                                    slip, but the tension in your biceps will be released as well.

                                    Repeat for three sets of six repetitions for each arm.</p>
                            </div>
                            <div class="col-lg-5">
                                <img
                                        src="thumbnail/woman-kettlebell-training.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading container">
            <h4 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                href="#collapseThree">
                <a>
                    LEAGUE OF LOEGEND
                </a><i class="fa fa-chevron-down" aria-hidden="true"></i>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="container mt-5">
                    <div class="mt-5">
                        <h2 class="text-main-blog">LEAGUE OF LOEGEND : Baron Nashor</h2>
                        <p>by admin | Mar 21, 2019</p>
                    </div>
                    <div class="blogs-day p-3">
            <span class="calander"><img style="width: 1.6%"
                                        src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.15752-9/54434306_1471078356356325_5747840039430127616_n.png?_nc_cat=103&_nc_oc=AQlbCiMRAn9vGNddduyWx3LWLeRlgc5_-YuyfwFHwecRnGit7Vp7zQxZ8ieHaXDBMYU&_nc_ht=scontent.fhan2-1.fna&oh=e8355f8a910ab9018108c92983b6a17f&oe=5D505F71">
            <span class="ml-3 text-today">Mar 21, 2019 </span>
                </span>
                        <span class="Folder"><img class="ml-3 text-today" style="width: 1.6%"
                                                  src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/54516585_603255546812826_1757987950282407936_n.png?_nc_cat=104&_nc_oc=AQkFvWyFQjoxJJKL3vKd5lHO8aWRGOig8O0mx_3eWnluEsvViJw9dYDG2MiOrPzeIG0&_nc_ht=scontent.fhan2-4.fna&oh=6d0aadfd68072849668cc4a762e32e9a&oe=5D162276">
                <span class="ml-3"><span class="text-danger">LEAGUE OF LOEGEND</span>,<span class="text-danger">Baron Nashor</span></span>
            </span>

                        <div class=" mt-1 mb-3 ">
                            <span class="text-main-icon">Baron Nashor is always a goal that anyone craves. But to finish it off is not always easy.</span>
                            <p class="mt-3">The League of Legends game community is certainly familiar to Baron Nashor
                                but there are
                                a few players who do not know it. Do you know Baron well? If you are confident that you
                                have enough
                                knowledge, check your knowledge with the article below. If you do not know about Baron,
                                we will help
                                you better understand it.</p>

                            <div class="mb-3">
                                <img class="style-video-blogs" src="thumbnail/baron-nashor-from-league-of-legends.jpg">
                            </div>

                            <div class="text-main-icon">Baron Nashor</div>
                        </div>


                        <div class="row mt-3">
                            <div class="col-lg-8 ">
                                <p>Baron Nashor is a worm that lives in the middle of the river. The position of Baron
                                    as
                                    well as the Asymmetrical Dragon in the Summoners Rift map. Baron Nashor possesses a
                                    huge
                                    amount of
                                    damage and it will be difficult for anyone who wants to fight it alone. In addition,
                                    Baron
                                    has
                                    excellent recovery ability.</p>
                                <hr>
                                <p> Baron Nashor is a voidborn creature residing on Summoner's Rift. This one of a kind
                                    creature
                                    has a shape and behavior of a river serpent. What differentiates it from a regular
                                    serpent
                                    is its numerous arachnid appendages, as well as two additional mouths protruding
                                    from its
                                    head area. The creature has 12 eyes (some of them injured due to past battles), a
                                    mouth with
                                    sharp teeth that can gape open wide for larger prey, and horned like crests on the
                                    top of
                                    the head. The colours of the creatures exoskeleton go from dark purple to light
                                    teal. This
                                    creature was believed to be deceased for numereous centuries, but due to rescent
                                    Void rifts
                                    opening on Summoner's Rift it has reemerged again.
                                    When finishing, Baron Nashor, each player receives 300 gold and 1400 experience
                                    points. In
                                    addition, the team that kills Baron Nashor, all surviving players will receive
                                    Purple Charms
                                    for 4 minutes or until they die.</p>

                            </div>
                            <div class="col-lg-4">
                                <div class="text-center">
                                    <img class="style-100" src="thumbnail/vi-tri-baron.jpg">
                                    <p class="text-center mt-2 ml-3">Location of Baron.</p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 mt-3">
                                    <div class="border-blogs png-lol-bg">
                                        <div class="border-blogs ">
                                            <img src="thumbnail/bua-tim-baron.jpg">
                                            <span class="text-center text-danger ml-5 lol-text-contain">The effect of purple amulets</span>

                                        </div>
                                        <ul class="mt-4 ml-3 ">
                                            <li>Add 40 physical damage / magic power.</li>
                                            <li>Restoration of 3% of health every 5 seconds.</li>
                                            <li> Restores 1% of maximum energy every 5 seconds.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 mt-3">
                                    <div class="border-blogs png-lol-bg">
                                        <div class="border-blogs text-center">
                                            <span class="text-danger ml-1 lol-text-contain">Baron's index</span>
                                        </div>
                                        <ul class="mt-4 ml-3">
                                            <li>Blood: 8800 (+140 blood per minute).</li>
                                            <li>Damage: 460.</li>
                                            <li> Speed of attack: 0.208.</li>
                                            <li>Critical attack ability: 0%.</li>
                                            <li>Long range attack: 955.</li>
                                            <li>Armor: 120.</li>
                                            <li>Magic resistance: 70.</li>
                                            <li>Movement speed: 0.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="text-danger mb-3 mt-3 lol-text-contain">Skills of Baron Nashor</div>
                            <div class="border-blogs png-lol-bg">
                                <ul class="mt-4">
                                    <li class="mb-3"><img class="p-2" src="thumbnail/baron-kill-1.jpg">
                                        <p>Baron is resistant to all
                                            control effects. Stun, slow, blind or tied up doesn't work on Baron
                                            Nashor.</p>
                                    </li>
                                    <li class="mb-3"><img class="p-2" src="thumbnail/baron-kill-2.jpg">
                                        <p class="text-danger">The Rebellion of the Most High :</p>
                                        <p>Baron Nashor deals 70 magic
                                            damage and creates an adverse effect on the target. This effect increases
                                            the amount of
                                            damage a victim must take by 25%, accumulating up to 10 times..</p>
                                    </li>
                                    <li class="mb-3"><img class="p-2" src="thumbnail/baron-kill-3.jpg">
                                        <p class="text-danger">Corrosive Poison :</p> Causes physical damage and creates
                                        an adverse
                                        effect on the target. This effect reduces the victim's physical damage by 50%,
                                        not
                                        incremental.
                                    </li>
                                    <li><p class="text-danger">Poisonous Spray:</p>Throw the victims into the sky and
                                        slow them down later.
                                    </li>
                                    <li><p class="text-danger">Sweeping Strike :</p> Baron's attacks are capable of
                                        knocking opponents away
                                        from him.
                                    </li>
                                </ul>
                            </div>

                            <div class="text-danger mb-3 mt-3 lol-text-contain">Baron's behavior</div>
                            <p>Baron Nashor always prioritizes to attack the nearest target, this target usually suffers
                                from 50% damage
                                reduction effect. This worm is always very gentle, if no one attacks it, it will just
                                watch the world in
                                turmoil. When receiving damage, regardless of who it is, Baron will get angry and attack
                                the nearest man</p>
                            <img class="style-100" src="thumbnail/tap-tinh-baron.jpg">
                            <p class="mt-3">This explains many very silly questions of players:

                                "Why didn't I attack Baron and it hit me?"

                                Answer: "You own Fire Armor, it deals damage to Baron".

                                "Why did I Move Ancient to the Baron cave and it hit me?"

                                Answer: "Ezreal's Ancient Moves has the effect of damaging."

                                 

                                Before the targets were flung up into the sky by the Poisoning Spell, a layer of green
                                effervescent liquid
                                would appear at their feet for two seconds. So players can actively avoid this move. If
                                you watch the video
                                of gamers online, you will find that when they solo with Baron, they do not stand still
                                and move, move
                                constantly.</p>

                            <div class="text-main-icon">When to organize Baron</div>
                            <img class="style-100" src="thumbnail/AN-BARON.jpg">
                            <p class="mt-3">In big matches, gamers are always sure to play and most teams always eat
                                Baron at the end of the
                                game. There are also cases of Baron being killed right from the start. Depending on the
                                game, you can finish
                                Baron at different times.
                            </p>
                            <hr>
                            <p>When you want to eat Baron, you and your teammates need to make sure 2 things: your team
                                must have a complete
                                vision to defend when the enemy comes to harass; You must make sure the enemy has no
                                view in the Baron cave
                                area and around.</p>
                            <div class="text-center">
                                <img style="width: 80%; height: 80%;" src="thumbnail/baron(1).jpg">
                            </div>
                            <div class="text-danger mb-3 mt-3 lol-text-contain">The appropriate time for the team to
                                host Baron is:
                            </div>
                            <div class="mt-3">- Your team cleans the enemy and all still have plenty of blood, lots of
                                moves. However, you need to consider: eating Baron or breaking pillars, give yourself
                                quick and accurate decisions.
                            </div>
                            <div class="mt-3">- The main damage and the enemy's forest walker died. However, the other
                                members of the enemy will definitely try to harass you. You and the team need to make
                                the right decision for this case.
                            </div>
                            <div class="mt-3">- The enemy lineup is too low, must return home.</div>
                            <div class="mt-3">- When the enemy does not have the necessary sight, the team can also come
                                and finish Baron. This needs to be done quickly to prevent the opponent from realizing
                                it.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <% include common/footer %>
    <script src="JS/scroll-top.js"></script>
</body>

</html>