<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
</head>
<body>
<% include common/header %>
<div class="video-module">
    <div class="module-slide">
        <video autoplay="" loop="" muted="">
            <source src="https://cdn.goodlayers.com/infinite/homepages/fitness/wp-content/uploads/sites/4/2017/05/fitness-video-bg.mp4"
                    type="video/mp4">
        </video>
    </div>
    <div class="text text-banner-common"><h1>FEATURES GALLERY</h1></div>
</div>
<br><br>
<div class="container">
    <H3 class="text-center text-danger">INDOOR SPORTS</H3><br>

    <div class="gallery-indoor">
        <div class="row">
            <div class="col-sm-3">
                <img src="thumbnail/gallery1.jpg">
            </div>
            <div class="col-sm-6">
                <img src="thumbnail/gallery2.jpg">
            </div>
            <div class="col-sm-3">
                <img src="thumbnail/gallery3.jpg"
                     class="mb-4">
                <img src="thumbnail/gallery4.jpg">
            </div>
            <div class="col-sm-9 mt-2">
                <img src="thumbnail/gallery5.jpg">
            </div>
            <div class="col-sm-3 mt-2">
                <img src="thumbnail/gallery6.jpg">
            </div>
        </div>
    </div>
    <br><br>
    <H3 class="text-center text-danger">OUTDOOR SPORTS</H3><br>

    <div class="gallery-outdoor">
        <div class="row">
            <div class="col-sm-6">
                <img src="thumbnail/gallery7.jpg">
            </div>
            <div class="col-sm-6">
                <img src="thumbnail/gallery8.jpg">
            </div>
            <div class="col-sm-4 mt-4">
                <img src="thumbnail/gallery9.jpg">
            </div>
            <div class="col-sm-4 mt-4">
                <img src="thumbnail/gallery10.jpg">
            </div>
            <div class="col-sm-4 mt-4">
                <img src="thumbnail/gallery11.jpg">
            </div>
        </div>
    </div><br><br>
    <H3 class="text-center text-danger">RECREATION</H3><br>

    <div class="gallery-recreation">
        <div class="row">
            <div class="col-sm-4">
                <img src="thumbnail/gallery12.jpg" CLASS="mb-4">
                <img src="thumbnail/gallery13.jpg">
            </div>
            <div class="col-sm-8">
                <img src="thumbnail/gallery14.jpg">
            </div>
        </div>
    </div><br>
</div>
<% include common/footer %>
<script src="JS/scroll-top.js"></script>

</body>
</html>