<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">

</head>
<body>
<% include common/header %>
<div class="main-content">
    <div id="carouselExampleIndicators" class="carousel slide my-carousel my-carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"
                 style="background-image: url('thumbnail/slide1-index.jpg')">
                <div class="container">
                    <div class="carousel-text">
                        <h1>Transform your life</h1>
                        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his
                            bed.

                        </p><br><br>
                        <div class="carousel-button">
                            <a href="SIGNUP"><button type="button" class="btn btn-danger">SIGN UP NOW</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item "
                 style="background-image: url('thumbnail/slide2-index.jpg')">
                <div class="container">
                    <div class="carousel-text">
                        <h1>What happens here, stay here.</h1>
                        <p>People have diffỉrent reasons for the way they live their life. You cannot put everyone’s reasons in the same box – Kevin Spacey.
                        </p><br><br>
                        <div class="carousel-button">
                            <a href="SIGNUP"><button type="button" class="btn btn-danger">SIGN UP NOW</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item "
                 style="background-image: url('thumbnail/Baron.jpg') ">
                <div class="container">
                    <div class="carousel-text">
                        <h1>You’re in good hands</h1>
                        <p>It’s better to cross the line and suffer the consequences than to just stare at the line for the rest of your life.
                        </p><br><br>
                        <div class="carousel-button">
                            <a href="SIGNUP"><button type="button" class="btn btn-danger">SIGN UP NOW</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <section id="about">
        <div class="container">
            <div class="module_round_box">
                <div class="row top_boxes">
                    <div class="col-sm-4 top_box">
                        <a href="#">
                            <div class="top_box_text">
                                <h3>Hours</h3>
                                <span class="highlight1">Every Day:9am - 9pm</span>
                            </div>
                            <img src="thumbnail/dichvu1.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 top_box">
                        <a href="#">
                            <div class="top_box_text">
                                <h3>Free</h3>
                                <span class="highlight1">Free First Week</span>
                            </div>
                            <img src="thumbnail/dichvu2.jpeg"
                                 alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 top_box">
                        <a href="#">
                            <div class="top_box_text">
                                <h3>Pricing</h3>
                                <span class="highlight1">99$ / Month</span>
                            </div>
                            <img src="thumbnail/dichvu3.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="text-intro mt-2">
                <h5 ><span class="text-danger font-weight-bold welcome">Welcome to Ryan Sport Club</span>,where our goal is to transform your life into a healthy one. We are equipped with top notch
                    staff and the best equipment to help you along the way!</h5>
            </div>
        </div>
    </section><br>
    <h3 class="text-center"><i>Our Sports</i></h3>
    <hr class="divered">
    <div class="row sport-list">
        <div class="col-6 col-sm-3 sport-img sport-list-cross">
            <div class="container-list">
                <img src="thumbnail/sport1.jpeg" alt="img" class="image">
                <div class="overlay overlayCross">
                    <div class="text"><h3>GYM</h3>
                        <p>where our goal is to transform your life into a healthy one.</p>
                        <a href="Gym">
                            <button type="button" class="btn btn-danger">LEARN MORE</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 sport-img sport-list-cross">
            <div class="container-list">
                <img src="thumbnail/sport2.jpg" alt="img"
                     class="image">
                <div class="overlay overlayCross">
                    <div class="text"><h3>KICKFIT</h3>
                        <p>where our goal is to transform your life into a healthy one.</p>
                        <a href="KickFit">
                            <button type="button" class="btn btn-danger">LEARN MORE</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 sport-img sport-list-cross">
            <div class="container-list">
                <img src="thumbnail/sport3.jpg" alt="img"
                     class="image">
                <div class="overlay overlayCross">
                    <div class="text"><h3>BOXING</h3>
                        <p>where our goal is to transform your life into a healthy one.</p>
                        <a href="Boxing">
                            <button type="button" class="btn btn-danger">LEARN MORE</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 sport-img sport-list-cross">
            <div class="container-list">
                <img src="thumbnail/sport4.jpg"
                     alt="img" class="image">
                <div class="overlay overlayCross">
                    <div class="text"><h3>CYCLING</h3>
                        <p>where our goal is to transform your life into a healthy one.</p>
                        <a href="cycling">
                            <button type="button" class="btn btn-danger">LEARN MORE</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 sport-img sport-list-cross">
            <div class="container-list">
                <img src="thumbnail/sport5.jpg" alt="img" class="image">
                <div class="overlay overlayCross">
                    <div class="text"><h3>WALKING</h3>
                        <p>where our goal is to transform your life into a healthy one.</p>
                        <a href="walking">
                            <button type="button" class="btn btn-danger">LEARN MORE</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 sport-img sport-list-cross">
            <div class="container-list">
                <img src="thumbnail/skate20.jpg"
                     alt="img" class="image">
                <div class="overlay overlayCross">
                    <div class="text"><h3>SKATEBOARDING</h3>
                        <p>where our goal is to transform your life into a healthy one.</p>
                        <a href="Skateboarding">
                            <button type="button" class="btn btn-danger">LEARN MORE</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 sport-img sport-list-cross">
            <div class="container-list">
                <img src="thumbnail/sport7.jpg" alt="img" class="image">
                <div class="overlay overlayCross">
                    <div class="text"><h3>CHESS</h3>
                        <p>where our goal is to transform your life into a healthy one.</p>
                        <a href="chess">
                            <button type="button" class="btn btn-danger">LEARN MORE</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 sport-img sport-list-cross">
            <div class="container-list">
                <img src="thumbnail/sport8.jpg" alt="img"
                     class="image">
                <div class="overlay overlayCross">
                    <div class="text"><h3>League of Legends</h3>
                        <p>where our goal is to transform your life into a healthy one.</p>
                        <a href="LOL">
                            <button type="button" class="btn btn-danger">LEARN MORE</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <h3 class="text-center"><i>Studios</i></h3>
    <hr class="divered">
    <div class="container studios-address">
        <div class="row mt-4">
            <div class="col-sm-3 city-list text-center">
                <div class="wrap">
                    <div>
                        <img src="thumbnail/studios2.jpg"
                             class="img-responsive">
                    </div>
                    <div class="text-studios mt-2">
                    <h3 class="text-danger">HA NOI</h3>
                    <p>11 TRANG TIEN, HOAN KIEM</p>
                    <p><a href="tel:18006868">1800 6868</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 city-list text-center">
                <div class="wrap">
                    <div>
                        <img src="thumbnail/studios1.jpg"
                             class="img-responsive">
                    </div>
                    <div class="text-studios mt-2">
                    <h3 class="text-danger">HO CHI MINH</h3>
                    <p>109 TRUONG CHINH, TAN BINH</p>
                        <p><a href="tel:18001212">1800 1212</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 city-list text-center">
                <div class="wrap">
                    <div>
                        <img src="thumbnail/studios3.jpg"
                             class="img-responsive">
                    </div>
                    <div class="text-studios mt-2">
                        <h3 class="text-danger">DA NANG</h3>
                    <p>104 DUY TAN, HAI CHAU</p>
                        <p><a href="tel:18003434">1800 3434</a></p>

                    </div>
                </div>
            </div>
            <div class="col-sm-3 city-list text-center">
                <div class="wrap">
                    <div>
                        <img src="thumbnail/studios4.jpg"
                             class="img-responsive">
                    </div>
                    <div class="text-studios mt-2">
                    <h3 class="text-danger">BIEN HOA</h3>
                    <p>VO THI SAU, THONG NHAT</p>
                        <p><a href="tel:18009696">1800 9696</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h3 class=" text-center"><i>Your Key To Success</i></h3>
    <hr class="divered">

    <div class=" regular-module">
        <div class="row">
            <div class="col-sm-6 image-module">
                <img src="thumbnail/tienich1.jpg">
            </div>
            <div class="col-sm-6 text-center text-white content-regular booking">
                <div>
                    <div class="mb-3">
                        <img src="thumbnail/icon1.png" alt="">
                    </div>
                    <div class="pl-5 pr-5 ml-3 mr-3">
                        <h3 style="font-weight: bold; font-size: 17px;">EASY BOOKING</h3>
                        <p>Booking your training schedule becomes easier than ever before with your smartphone
                            only</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-center text-white content-regular various">
                <div>
                    <div class="mb-3">
                        <img src="thumbnail/icon2.png" alt="">
                    </div>
                    <div class="pl-5 pr-5 ml-3 mr-3">
                        <h3 style="font-weight: bold; font-size: 17px;">VARIOUS ACTIVITIES</h3>
                        <p>More than <span style="font-weight: bold; color: #83358b;">30</span> amazing fitness
                            categories are waiting for you to explore</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 image-module">
                <img src="thumbnail/tienich2.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 image-module">
                <img src="thumbnail/tienich3.jpg">
            </div>
            <div class="col-sm-6 text-center text-white content-regular scheduling">
                <div>
                    <div class="mb-3">
                        <img src="thumbnail/icon3.png" alt="">
                    </div>
                    <div class="pl-5 pr-5 ml-3 mr-3">
                        <h3 style="font-weight: bold; font-size: 17px;">ACTIVE SCHEDULING</h3>
                        <p>With more than <span style="font-weight: bold; color: #39b54a;">5000</span> classes, you
                            can you can freely choose a schedule that suit yourself.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>


    <h3 class="text-center"><i>Top Sports Person</i></h3>
    <hr class="divered">


    <div class="top-person">
        <div class="container card-module">
            <div class="row">
                <div class="col-sm-6 mb-5">
                    <div class="card">
                        <img class="card-img-top"
                             src="thumbnail/top1.jpg"
                             alt="Card image">
                        <div class="card-body">
                            <h3 class="card-title text-danger">
                                <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                                John Doe</h3>
                            <p class="card-text">
                                <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                                Some example text.
                                It is a long established fact that a reader will be distracted by the readable content
                                <br><br>
                                <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                                The point of using Lorem Ipsum is that it has a
                                more-or-less normal distribution of letters
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-5">
                    <div class="card">
                        <img class="card-img-top"
                             src="thumbnail/top2.jpg"
                             alt="Card image">
                        <div class="card-body">
                            <h3 class="card-title text-danger">
                                <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                                Daniel Jame</h3>
                            <p class="card-text">
                                <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                                Etiam eu molestie eros, commodo hendrerit sapien. Maecenas tempus leo ac nisi iaculis
                                porta.
                                <br><br>
                                <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                                Maecenas ornare consequat massa ullamcorper dapibus
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-5">
                    <div class="card">
                        <img class="card-img-top"
                             src="thumbnail/top3.jpg"
                             alt="Card image">
                        <div class="card-body">
                            <h3 class="card-title text-danger">
                                <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                                Selena</h3>
                            <p class="card-text">
                                <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                                Suspendisse vel libero se Maecenas ornare consequat massa ullamcorper dapibus
                                <br><br>
                                <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                                Aliquam auctor, sapien sit amet accumsan facilisis, enim enim aliquet arcu, tincidunt
                                pellentesque justo turpis id neque
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-5">
                    <div class="card">
                        <img class="card-img-top"
                             src="thumbnail/top4.jpg"
                             alt="Card image">
                        <div class="card-body">
                            <h3 class="card-title text-danger">
                                <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                                Henry</h3>
                            <p class="card-text">
                                <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                                Discerning the various types seems difficult to the untrained eye with the divers
                                twisting
                                <br><br>
                                <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                                Strategy foster collaborative thinking to further the overall value proposition.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="top-person"><button type="button" class="btn btn-danger button-top-person">LEARN MORE</button></a>
        </div>

    </div>


    <div class="list-famous mt-4">
        <h3 class=" text-center"><i>Famous Playes</i></h3>
        <hr class="divered">

        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4 text-center mb-4">
                    <img class="alignnone wp-image-2677"
                         src="thumbnail/famous1.png"
                         alt="Phan Minh Huyền" width="200" height="200">
                    <h4>Phan Minh Huyen</h4>
                </div>
                <div class="col-12 col-sm-4 text-center mb-4">
                    <img class="alignnone wp-image-2673"
                         src="thumbnail/fomous2.png" alt="" width="200"
                         height="200">
                    <h4>Nguyen Minh Trang</h4>
                </div>
                <div class="col-12 col-sm-4 text-center mb-4">
                    <img class="alignnone wp-image-2674 size-full"
                         src="thumbnail/famous3.png" alt="" width="200"
                         height="200">
                    <h4>Nguyen Minh Ha</h4>
                </div>
                <div class="col-12 col-sm-4 text-center mb-4">
                    <img class="alignnone wp-image-2673"
                         src="thumbnail/fomous4.png" alt="" width="200"
                         height="200">
                    <h4>Bui Duc Bao</h4>
                </div>
                <div class="col-12 col-sm-4 text-center mb-4">
                    <img class="alignnone wp-image-2675 size-full"
                         src="thumbnail/fomous5.png" alt="" width="200"
                         height="200">
                    <h4>Vo Hoang Ngoc Anh</h4>
                </div>
                <div class="col-12 col-sm-4 text-center mb-4">
                    <img class="alignnone wp-image-2676 size-full"
                         src="thumbnail/famous6.png" alt="" width="200"
                         height="200">
                    <h4>Tran Quang Minh</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container pl-5 pr-5 mb-3" >
        <div class="row">
            <div class="col-sm-3"><img class="style-100" src="thumbnail/hang1.png"></div>
            <div class="col-sm-3"><img class="style-100" src="thumbnail/hang2.png"></div>
            <div class="col-sm-3"><img class="style-100" src="thumbnail/hang3.png"></div>
            <div class="col-sm-3"><img class="style-100" src="thumbnail/hang4.png"></div>
        </div>
    </div>
    <div class="maps">
                <div class="myframegmap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.206634452755!2d105.8541740505383!3d21.024416493233677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abeb8bb06541%3A0x50aa9701f7eb3676!2zMTEgVHLDoG5nIFRp4buBbiwgSG_DoG4gS2nhur9tLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1552089051834"
                            width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
    </div>
</div>
<% include common/footer %>

<script src="JS/scroll-top.js"></script>
</body>
</html>
