<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <% include common/head %>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/head-chung.css" rel="stylesheet">

</head>
<body>
<% include common/header %>
<div class="success">
<div class="content-about">
    <div class="container">
        <div class="view-content">
            <h3 class="text-danger text-center pt-3">Thank you for your request!
            </h3>
            <p class="text-justify p-3">
           Your message was sent to our Support Team. You should receive a reply from a
                representative of our web site by the end of the next business day . Occasionally we
                receive a very large number of messages, and your response may take a little longer. If this occurs, we
                appreciate your patience, and we assure you that you will receive a response. Thank you for taking the
                time to contact us. Have a great day, Ourwebsite.com Support Team</p>
            <div class="text-center">
                <p><strong>Please contact us for any information you need:</strong></p>
                <p>Hotline: +1800 6868</p>
                <p>Email:eveplus@gmail.com</p>
                <p><a href="" target="_top">Send Mail here</a></p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="text-main-icon text-main">Partners</h2>
                <p>Who we love working with,
                    and what makes us great.</p>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3"><img class="style-100" src="thumbnail/hang1.png"></div>
                    <div class="col-lg-3"><img class="style-100" src="thumbnail/hang2.png"></div>
                    <div class="col-lg-3"><img class="style-100" src="thumbnail/hang3.png"></div>
                    <div class="col-lg-3"><img class="style-100" src="thumbnail/hang4.png"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<% include common/footer %>
<script src="JS/scroll-top.js"></script>
</body>
</html>